.container{
	position:relative;
	top:40px;
	width:800px;
	border: 1px solid;
	height: 600px;
}

html{
	-ms-overflow-y: scroll;
	overflow-y: scroll;
}

.slateblue{
	background: slateblue;
	background-color: slateblue;
}

.orange{
	background: orange;
}

.green{
	background: green;
}

.color{
	width:50px;
	height: 50px;
	border: solid #fff;
	margin: 5px;
}

#color1{
	background: #c6e679;
}

#color2{
	background: blue;
}

#color3{
	background: red;
}
