.console{
.gradientBoxesWithOuterShadows { 
padding: 20px;
background-color: white; 

/* outer shadows  (note the rgba is red, green, blue, alpha) */
-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);

/* rounded corners */
-webkit-border-radius: 12px;
-moz-border-radius: 7px; 
border-radius: 7px;

/* gradients */
background: -webkit-gradient(linear, left top, left bottom, 
color-stop(0%, white), color-stop(15%, white), color-stop(100%, #D7E9F5)); 
background: -moz-linear-gradient(top, white 0%, white 55%, #D5E4F3 130%); 
}

.container{
	position:relative;
	top:80px;
	width:800px;
	height: 700px;
	border-radius: 10px;
}

html{
	-ms-overflow-y: scroll;
	overflow-y: scroll;
}

.slateblue{
	background: slateblue;
	background-color: slateblue;
}

.orange{
	background: orange;
}

.green{
	background: green;
}

.color{
	width:50px;
	height: 50px;
	border: solid #fff;
	margin: 5px;
}

#color1{
	background: #c6e679;
}

#color2{
	background: blue;
}

#color3{
	background: red;
}
.center{
	text-align: center;
}
#glyphicon{
	float: right;
}
.size{
	height:400px;
}
p{
	font-size: 20px;
}