.container{
	position:relative;
	top:40px;
	width:800px;
	left: 0px;
	border: 1px solid;
	height: 600px;
}

html{
	-ms-overflow-y: scroll;
	overflow-y: scroll;
}

.slateblue{
	background: slateblue;
	background-color: slateblue;
}

.orange{
	background: orange;
}

.green{
	background: green;
}